@media screen and (max-width: 1200px) { 
    .container {
        max-width: 900px;
        width: 90%;
    }
}

@media screen and (max-width: 1024px) { 

    .gallery-carousel .grid ul li {
        position: relative;
        margin-bottom: 10px;
    }

    div.page {
        background-color: #FFF;
    }

    #logo {
        margin: 15px 0;
    }

    .thumbnail img {
        height: auto;
    }

    .detail .content img {
        height: auto;
    }

    #main-menu.primary-navigation ul.main {
        display: none
    }

    #mobile-menu ul li {
        display: block;
        border-bottom: solid 1px #ECECEC;
        border-left: 0;
        border-right: 0;
    }

    #mobile-menu ul > li:last-child {
        border-bottom: none !Important;
    }

    #mobile-menu ul li a {
        padding: 10px 20px;
    }

    #mobile-menu ul li.menu-item-has-children ul {
        position: inherit;
        left: inherit;
        width: auto;
        background: #1379D6;
        display: block !Important;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in .3s;
        height: auto !important;
        margin: 0 !Important;
    }

    #mobile-menu ul li.menu-item-has-children ul li {
        border-bottom-color: #2374BD;
    }

    #mobile-menu ul li.menu-item-has-children ul li .dropdown-trigger {
        color: #fff;
    }

    #mobile-menu ul li.menu-item-has-children ul li:hover {
        background-color: #2374BD;
    }

    #mobile-menu ul li.menu-item-has-children ul li ul li:hover {
        background-color: #1A6AB3;
    }

    #mobile-menu ul li.menu-item-has-children ul li ul li {
        border-bottom-color: #1A6AB3;
    }

    #mobile-menu ul li.menu-item-has-children ul li ul {
        background-color: #1971C1;
    }

    #mobile-menu ul li.menu-item-has-children ul li a {
        color: #fff;
    }

    #mobile-menu ul li.menu-item-has-children ul.menu-active {
        max-height: 1000px;
    }

    li.menu-item.menu-item-has-children a:after {
        content: none !important;
    }

    #masthead .primary-navigation ul.main {
        display: none
    }

    #mega-menu-wrap-main-menu #mega-menu-main-menu {
        display: none;
    }

    .select-menu {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header#masthead.sticky #logo {
        width: 140px;
        max-height: inherit;
    }

    .form-group.inline-group input[type="submit"] {
        width: 100%;
    }

    #masthead a.menu-trigger {
        display: block;
    }

    .filter-holder a.filter {
        padding: 20px 18px;
    }
    table.schedule-result thead {
        display: none;
    } 

    table.schedule-result {
        background-color: #fff !important;
    }
    
    table.schedule-result tr.day-sc,
    table.schedule-result tr.day-sc td {
        display: block;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    table.schedule-result tr.day-sc {
        margin-bottom: 30px;
        background-color: #eee;
    }

    table.schedule-result tr.day-sc,
    table.schedule-result tr.day-sc td:first-child {
        width: 100%;
    }

    table.schedule-result tr.day-sc td:first-child {
        padding-top: 20px;
        padding-left: 160px;
        background-color: #666;
        font-weight: bold;
    }

    table.schedule-result tr.day-sc td:first-child a {
        color: #fff;
    }

    table.schedule-result tr.day-sc td {
        text-align: left;
        width: 100%;
        padding-left: 140px;
        position: relative;
    }

    table.schedule-result tr.day-sc td:after {
        content: 'Doctor';
        display: block;
        width: 100px;
        padding: 20px;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        font-weight: bold;
        background-color: #333;
        color:#fff;

    }

    table.schedule-result tr.day-sc td:nth-child(2):after {
        content: 'Sunday'
    }

    table.schedule-result tr.day-sc td:nth-child(3):after {
        content: 'Monday'
    }

    table.schedule-result tr.day-sc td:nth-child(4):after {
        content: 'Tuesday'
    }

    table.schedule-result tr.day-sc td:nth-child(5):after {
        content: 'Wednesday'
    }

    table.schedule-result tr.day-sc td:nth-child(6):after {
        content: 'Thursday'
    }

    table.schedule-result tr.day-sc td:nth-child(7):after {
        content: 'Friday'
    }

    table.schedule-result tr.day-sc td:last-child:after {
        content: 'Saturday'
    }
}

@media screen and (max-width: 1000px) { 
    .container { max-width: 90% }
    .slider-caption { width: 70% }
    .filter-grid ul li {width: 30%;}
    .filter-grid ul {text-align:center;}
}

@media screen and (max-width: 860px) { 
    .events-date {
        font-size: 32px;
    }

    .filter-grid ul {
        text-align: center;
    }

    .filter-trigger {
        display: inline-block;
    }

    .filter-holder {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 6;
        background: #fff;
        max-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 10px;
        text-align: left;
    }

    .filter-wrapper {
    }

    .filter-holder a.filter {
        display: block;
        float: none;
        padding: 10px;
        border-bottom: solid 1px #eee;
        border-right: solid 1px;
        border-left: solid 1px;
    }

    .filter-holder a.filter.active {
        border-color: #1379D6 !Important;
        color: #fff;
        background-color: #1379D6;
    }

    .filter-holder a.filter:last-child {
        border-bottom: solid 1px;
        margin-bottom: 2px;
    }

    #main-menu.primary-navigation ul.main {
        display: none
    }

    .filter-grid ul li {
        width: 46%;
    }
    
    .page {/* padding-top: 50px !important; */}
    
    #logo,
    header#masthead.sticky #logo {
        width: 140px;
        max-height: inherit;
    }

    .select-menu,
    header#masthead.sticky .select-menu {
        display: inline-block;
        margin: 10px 1px;
    }

    .slider-caption {
        display: none
    }

    .form-group.col-30,
    form.inline-form .form-group.col-30:nth-child(3n+3),
    .form-group.col-30:nth-child(4n+4) {
        width: 48%;
        margin-right: 0;
    }

    .quick-contact {font-size: 12px;}
    .form-group.col-30:nth-child(2n+2) {
        margin-right: 4%
    }

    form.inline-form .form-group.col-30:nth-child(2n+2) {
        margin-right: 0
    }

    .form-group.inline-group label span {
        float: none;
        margin-top: 0;
    }

    .form-group.inline-group {
        text-align: left;
    }

    .form-group.inline-group input,
    .form-group.inline-group select {
        display: block;
        width: 100%;
    }

    .form-group.col-10 {
        width: 24%;
        margin: 37px 0 0 0;
    }

    .gallery-carousel .grid.row ul li.column {
        width: 15% !Important;
        margin-right: 2% !important;
    }

    .gallery-carousel .grid ul li:nth-child(6n+6),
    .gallery-carousel .grid.row ul li.column:last-child {
        margin-right: 0 !important;
    }

    .form-group.inline-group.submit-button {
        text-align: right;
    }

    .form-group.inline-group.radio-group {
        padding-top: 3px;
    }

    .introductions-text {
        margin: 0 5% 60px;
    }

    .row.three-column.eight-col > ul > li.column:first-child {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .row.three-column.eight-col > ul > li.column,
    .row li.column-4,
    .row.four-column li.column:nth-child(4n+4),
    .vc_col-sm-8 .row li.column-4 {
        width: 47%;
        margin-right: 6%;
    }

    .row.no-float-column ul {
        text-align: left;
    }

    .row li.column-4:nth-last-child(4),
    .row li.column-4:nth-last-child(3),
    .row li.column-4:nth-last-child(2) {
        margin-bottom: 6%;
    }

    .row .column:nth-child(2n+2),
    .row.three-column.eight-col li.column-28 {
        margin-right: 0 !important;
    }

    .row.three-column.eight-col li.column-38:nth-child(2n+2) {
        margin-right: 6% !Important;
    }

    .top-header .social {
        display: none;
    }

    #leftcontent,
    #rightcontent,
    .contact-wrapper .leftcontent,
    .contact-wrapper .rightcontent {
        width: 100%;
        margin: 0 0 50px 0;
    }

    #mega-menu-wrap-main-menu #mega-menu-main-menu {
        display: none;
    }

    .white-grid-detail .thumbnail,
    .white-grid-detail .detail {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    .white-grid-detail .detail {
        margin-top: 40px;
    }
}

@media screen and (max-width: 782px) {
    body.logged-in header#masthead.sticky,
    body.logged-in #mobile-menu {
        top: 46px;
    }

    .event-map {
        position: relative;
        left: 0;
        margin-left: 0;
        height: 240px;
    }

    .event-highlight .highlight-info {
        width: auto;
        min-height: inherit;
    }

    .event-highlight .highlight-info ul li {
        width: 47%;
        display: inline-block;
        vertical-align: middle;
    }

    body.logged-in header#masthead {
        top: 46px;
    }
}

@media screen and (max-width: 768px) {

    .vc_custom_1460018350896,
    .vc_custom_1460018350896 h4,
    .vc_custom_1460018350896 h3 {
        text-align: center !important;
    }

    .hospital-features .vc_column-inner {
        border-right: 0 !important;
    }

    .vc_column-inner.vc_custom_1459993637580 {
        height: 300px;
        margin: -50px;
    }

    .philosophy .vc_column-inner.vc_custom_1459993637580 {
        height: auto;
        margin: 0;
    }

    .vc_row-fluid.our-services {
       margin-bottom: 40px !Important;
    }
}

@media screen and (max-width: 640px) {
    .filter-grid ul li {
        width: 100%
    }
    .events-left-side {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    
     .event-highlight .highlight-info ul li {
        width: 100%;
     }
     .gallery-carousel .grid.row ul li.column,
     .gallery-carousel .grid.row ul li.column.galeries {
        width: 32% !important;
    }

    .gallery-carousel .grid.row ul li.column:nth-child(3n+3) {
        margin-right: 0 !Important;
    }
   
    .events-left-side .events-info {
        float: left;
        border: none;
        padding: 0;
        width: 100px;
    }

    .events-info .inner {
        padding: 0;
        border: none;
        width: auto;
        float: left;
    }

    .events-info .events-date {
        font-size: 27px;
        padding: 7px;
    }

    .events-info .events-date sup {
        font-size: 12px;
    }

    .events-detail.white-grid-detail .detail {
        margin-left: 0;
    }

    .events-detail .events-date span {
        font-size: 10px;
        margin-top: 6px;
    }
    
    .white-grid-detail .thumbnail {
        margin-bottom: 40px
    }
    
    .form-group.col-10 {
        width: 48%
    }
    
    .form-group.inline-group.submit-button {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .form-group.inline-group.submit-button button.button {
        width: 100%
    }

    .row li.column-4,
    .row.four-column li.column:nth-child(4n+4),
    .row li.column-3,
    .row.three-column.eight-col > ul > li.column,
    .form-group.col-30,
    form.inline-form .form-group.col-30:nth-child(3n+3),
    .form-group.col-30:nth-child(4n+4),
    .vc_col-sm-8 .row li.column-4 {
        width: 100%;
        margin-right: 0;
    }
    
    .gallery-carousel .grid ul li {
        width: 32% !important;
        margin-right: 2% !important;
    }
    .gallery-carousel .grid ul li:nth-child(3n+3) {
        margin-right: 0 !important
    }
    
    #mega-menu-wrap-main-menu #mega-menu-main-menu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header#masthead.sticky {
        top: 0 !important;
    }
}

@media screen and (max-width: 500px) { 
    .container { width: 85%;}
    .form-group.col-30,
    form.inline-form .form-group.col-30:nth-child(3n+3),
    .form-group.col-10 {
        width: 100%;
        margin-right: 0;
    }

    .row ul li.column {
        width: 100% !important;
        margin-right: 0 !important;
    }

    #logo {
        width: 100px
    }

    #post-nav .post-nav {
        float: none !important;
        text-align: left !important;
        width: 100% !important;
        margin-bottom: 40px;
    }

    .post-author .thumbnail {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .post-author .detail {
        margin-left: 0
    }
    
    .comment-item .thumbnail {
        display: none
    }

    .comment-item .detail {
        margin-left: 0 !important
    }

    #mega-menu-wrap-main-menu #mega-menu-main-menu {
        display: none;
    }
}
 
 
